{% extends 'list2.html' %}
{% load static %}

{% block head_list_extra %}

    {# FUNCIONES PROPIAS DEL MODULO #}
    <script src="{% static 'access_users/js/list.js' %}"></script>
{% endblock %}

{% block list_controls %}
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label>Rangos de fechas:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <button class="btn btn-primary btnSearch" type="button">
                        <i class="bi bi-calendar-range"></i> Rango
                    </button>
                    <button class="btn btn-secondary btnSearchAll" type="button">
                        <i class="bi bi-list-columns-reverse"></i> Todas
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block list_foot %}

{% endblock %}