<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura - {{ sale.client.names }}</title>
    <style>

        * {
            color: black;
        }

        body {
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            padding: 0;
            margin: 0;
            color: black;
        }

        .name-company {
            font-size: 30px;
            padding: 0;
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }

        .img-logo {
            margin-top: 10px;
            width: 75px;
            height: 75px;
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <img alt="" src="{{ sale.company.get_image }}" class="img-fluid d-block mx-auto img-logo">
    <h1 class="name-company mb-5">{{ sale.company.name }}</h1>

    <div class="row">
        <div class="col">
            <b>Número: </b> {{ sale.get_number }}<br>
            <b>Cliente: </b> {{ sale.client.get_full_name }}<br>
            <b>Número de cedula: </b> {{ sale.client.dni }}<br>
            <b>Fecha de venta: </b> {{ sale.date_joined|date:'c' }}<br>
            <b>Dirección:</b> {{ sale.client.address }}
            <br>
            <b>Vendedor: </b> {{ sale.user.first_name }} {{ sale.user.last_name }}<br>
        </div>

        <div class="col">
            <b>RUC: </b>{{ sale.company.ruc }}<br>
            <b>Direccion: </b>{{ sale.company.address }}<br>
            <b>Celular: </b> {{ sale.company.mobile }}<br>
            <b>Teléfono: </b> {{ sale.company.phone }}<br>
            <b> Web: </b>{{ sale.company.website }}<br>
        </div>

    </div>
    <table class="table mt-4" style="width: 100%;">
        <thead>
        <tr>
            <th scope="col" style="width: 10%;">Cantidad</th>
            <th scope="col" style="width: 55%;">Producto</th>
            <th scope="col" style="width: 15%;">P.Unitario</th>
            <th scope="col" style="width: 20%;" class="text-right">Subtotal</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for det in sale.saleproduct_set.all %}
            <tr>
                <td class="text-center">{{ det.cant }}</td>
                <td>{{ det.product }}</td>
                <td class="text-center">{{ det.price|floatformat:2 }}</td>
                <td class="text-right">{{ det.subtotal|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-right"><b>Subtotal Exento: </b></td>
            <td class="text-right">{{ sale.subtotal_exempt|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Sub Total Iva: </b></td>
            <td class="text-right">{{ sale.subtotal|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Descuento: </b></td>
            <td class="text-right">{{ sale.discount|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Iva calculado</b></td>
            <td class="text-right">{{ sale.total_iva|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Total a pagar</b></td>
            <td class="text-right">{{ sale.total|floatformat:2 }}</td>
        </tr>
        <tr>
            <td colspan="4">
                <p class="text-uppercase font-weight-bold mt-3">
                    Total de productos {{ sale.saleproduct_set.all.count }}<br>
                    <br>
                    Una vez que usted a recibido el pedido<br>
                    No hay derecho a reclamo ni devolución del producto<br>
                    Que tenga un excelente día
                </p>
                <p class="text-uppercase font-weight-bold text-center mt-5">
                    !Gracias por su preferencia!<br>
                </p>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>