{% extends 'list2.html' %}
{% load static %}

{% block head_list_extra %}

    <script src="{% static 'shopping/js/list.js' %}"></script>

{% endblock %}

{% block list_controls %}
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label>Rangos de fechas:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <button class="btn btn-primary btnSearch" type="button">
                        <i class="bi bi-calendar-range"></i> Rango
                    </button>
                    <button class="btn btn-secondary btnSearchAll" type="button">
                        <i class="bi bi-list-columns-reverse"></i> Todas
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="form-group">
                <label>Nro de Factura:</label>
                <div class="input-group mb-3">
                    <input name="invoice-number" class="form-control" type="text">
                    <button class="btn btn-primary btnInvoice" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>


        </div>
    </div>
    <hr>
{% endblock %}


{% block extra_code %}

    <h2>poasoas</h2>

    <div class="modal fade" id="myModalProducts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalle de compra</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-valign-middle" id="tblProducts">
                        <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Categoría</th>
                            <th>Producto</th>
                            <th>Costo</th>
{#                            <th>Disponible</th>#}
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

