{% extends 'list2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load core_app_extras %}

{% block daterangepicker %}

{% endblock %}

{% block head_list_extra %}
    {# loss JS file #}
    <script src="{% static 'loss/js/form.js' %}"></script>
{% endblock %}

{% block body_content %}
    <form id="frmloss" method="post" data-url="{{ list_url }}">
        <input type="hidden" name="action" value="{{ action }}">

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    {{ title }}
                </h5>

            </div>
            <div class="card-body">
                <div class="container">

                    {# FILA DEL INPUT DEL TOTAL EN PERDIDAS #}

                    <div class="row mt-4">
                        <div class="col-2">
                            <div class="form-group">
                                <label class="form-label">Total perdida:</label>
                                {{ form.total|add_class:'form-control is-valid'|attr:'disabled' }}
                            </div>

                        </div>
                    </div>

                    <hr>

                    {# FILA DEL BUSCADOR DE PRODUCTOS #}
                    <div class="row mt-3 mb-5">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Buscador de productos:</label>
                                <div class="input-group">
                                    <select class="form-control select2" name="search_product"></select>
                                    <button class="btn btn-secondary" id="btnRemoveAll">
                                        Eliminar todo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-valign-middle" id="tblProducts">
                        <thead>
                        <tr>
                            <th>Eliminar</th>
                            <th>Producto</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Razón</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-floppy"></i>
                </button>
                <a href="{{ list_url }}" class="btn btn-danger"><i class="bi bi-x-circle"></i></a>
            </div>
        </div>
    </form>

    <script>
        loss.details.products = {{ products|safe }};
        loss.details.products_review = {{ products|safe }};
        // Se removio el vents.list(); para calcular bien el iva en el editar. Revisar al final del archivo form.js se lo puso.
    </script>
{% endblock %}