{% extends 'list2.html' %}
{% load static %}

{% block head_list_extra %}
    <script src="{% static 'loss/js/list.js' %}"></script>
{% endblock %}

{% block extra_code %}
    {# MODAL PARA MOSTRAR EL DETALLE DE LAS PERDIDAS #}

    <div class="modal fade" id="myModalProducts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle">Detalle</h1>
                </div>
                <div class="modal-body" id="modalBody">
                    {# SECTION OF THE TABLE THE MODAL INFORMATION  #}
                    <table class="table table-striped table-valign-middle" id="tblProducts">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Costo</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Razon perdida</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" id="modalFooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}