{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'client/js/list.js' %}"></script>
{% endblock %}

{% block content_list_before %}
    <div class="row">
        {% if request.user.is_superuser == True %}
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Busqueda de cliente: </label>
                    <div class="input-group mb-3">
                        <select class="form-control select2" id="search_client" name="client">
                            {#                            <option value="">Busqueda de clientes</option>#}
                            {#                            {% for u in frmClient %}#}
                            {#                                <option value="{{ u.id }}">{{ u.names }} - {{ u.dni }}</option>#}
                            {#                            {% endfor %}#}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-success" id="btnSearch" type="button">
                                <i class="fas fa-search"></i> Buscar
                            </button>
                            <button class="btn btn-warning" id="btnSearchAll" type="button">
                                <i class="fas fa-users"></i> Ver todos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
    <hr>
{% endblock %}

{% block javascript %}

{% endblock %}