{% extends 'list2.html' %}
{% load static %}


{% block head_list_extra %}
    {# client JS file #}
    <script src="{% static 'client/js/list.js' %}"></script>

{% endblock %}

{% block daterangepicker %}
	
{% endblock %}

{% block list_controls %}
    <div class="row">
        {% if request.user.is_superuser == True %}
            <div class="col-lg-6">
                <label class="form-label" for="search_client">Busqueda de cliente: </label>
                <div class="input-group ">
                    <select class="form-control select2" id="search_client" name="client">
                    </select>
                    <button class="btn btn-primary" id="btnSearch" type="button">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                    <button class="btn btn-secondary" id="btnSearchAll" type="button">
                        <i class="bi bi-list-columns-reverse"></i> Todas
                    </button>
                </div>

            </div>
        {% endif %}

    </div>
    <hr>
{% endblock %}

{% block javascript %}

{% endblock %}