{% extends 'list.html' %}
{% load static %}

{% block head_list %}

    <script src="{% static 'exits/list.js' %}"></script>

{% endblock %}

{% block content_after %}

    <div class="row">
        {# ROW PENNDINGS ORDERS #}

        <div class="col-md-2">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-ban"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pendienntes</span>
                    <span class="info-box-number" id="ban">0</span>
                </div>
            </div>
        </div>

        {# END PENNDINGS ORDERS #}

        {# ROW COMPLETE ORDERS #}

        <div class="col-md-2">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-check-circle"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Completas</span>
                    <span class="info-box-number" id="check">0</span>
                </div>
            </div>
        </div>

        {# END COMPLETE ORDERS #}

    </div>

{% endblock %}

{% block content_list_before %}
    <div class="row">
        <!-- COL SEARCH PRODUCTS -->
        <div class="col-md-6">
            <div class="form-group">
                <label> Búsqueda por productos / insumos / materia:</label>
                <div class="input-group">
                    {#                    <div class="input-group-prepend">#}
                    {#                        <button class="btn btn-success" type="button">#}
                    {#                            Buscar#}
                    {#                        </button>#}
                    {#                    </div>#}
                    <select class="form-control select2" name="search_product"></select>
                </div>
            </div>
        </div>
        <!-- // END COL SEARCH TECHNICIAN -->

        <!-- COL SEARCH PRODUCTS -->
        <div class="col-md-6">
            <div class="form-group">
                <label> Búsqueda por técnico:</label>
                <div class="input-group">
                    <select class="form-control select2" name="select_technician"></select>
                </div>
            </div>
        </div>
        <!-- // END COL SEARCH TECHNICIAN -->
    </div>
{% endblock %}


{% block javascript %}
    <div class="modal fade" id="modalExit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas fa-search"></i> Detalle de Venta</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm" id="tblExits">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Retorno</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        exits.details.cards = {{ verify|safe }};
    </script>
{% endblock %}