{% extends 'login/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}

    {#    Funciones del modulo   #}
    <script src="{% static 'login/js/form.js' %}"></script>

{% endblock %}

{% block content %}

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="{% static 'img/favicon/android-chrome-512x512.png' %}" alt="">
                            <span class="d-none d-lg-block">BisB</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Inicio de sesión</h5>
                                <p class="text-center small">Ingresa tu usuario y contraseña para ingresar</p>
                            </div>

                            <form action="." method="post" class="row g-3 needs-validation">
                                <input type="hidden" name="next" value="{{ next }}">
                                <input type="hidden" name="lat" value="">
                                <input type="hidden" name="long" value="">
                                <input type="hidden" name="accuracy" value="">
                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Usuario</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        {{ form.username|attr:'autofocus:on' }}
                                        {#                                        <input type="text" name="username" class="form-control" id="id_username"#}
                                        {#                                               required>#}

                                        <div class="invalid-feedback">Ingresa tu nombre de usuario.</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Contraseña</label>
                                    {{ form.password|add_class:'form-control' }}
                                    {#                                    <input type="password" name="password" class="form-control" id="id_password"#}
                                    {#                                           required>#}
                                    <div class="invalid-feedback">Ingresa tu contraseña!</div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Olvidaste tu contraseña? <a
                                            href="{% url 'reset_password' %}">Entra
                                        aquí</a></p>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="credits">
                        <script language="JavaScript"
                                type="text/javascript">TrustLogo("https://micuenta.donweb.com/img/sectigo_positive_md.png", "CL1", "none");</script>
                        <a href="https://donweb.com/es-int/certificados-ssl" id="comodoTL"
                           title="Certificados SSL Nicaragua">Certificados SSL
                            Nicaragua</a>
                        {#                                                Designed by <a href="https://digitalconcept.com/">Digital Concept</a>#}
                    </div>

                </div>
            </div>
        </div>

        <script type="application/javascript">
            {% if form.errors %}
                var errors = '';
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
        </script>
    </section>
{% endblock %}
