{% extends 'list.html' %}
{#{% extends 'layout.html' %}#}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/highcharts-9.1.1/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/accessibility.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/dcTables.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <a id="salestoday">
                    <div class="small-box bg-olive shadow-lg">
                        <div class="inner">
                            <h3 id="sales-today">0</h3>

                            <p>Ventas Hoy</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </a>
            </div>

            {# //END FIRST #}

            <div class="col-md-3">
                <a href="{{ sales_url }}">
                    <div class="small-box bg-gradient-success shadow-lg">
                        <div class="inner">
                            <h3 id="sales">0</h3>

                            <p>Total Ventas</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cash-register"></i>
                        </div>
                    </div>
                </a>
            </div>
            {# //END SECOND #}

            {% if request.user.is_superuser %}


                <div class="col-md-3" id="pro">
                    <div class="small-box bg-info shadow-lg">
                        <div class="inner">
                            <h3 id="products">0</h3>

                            <p>Productos</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-list-alt"></i>
                        </div>
                    </div>
                </div>
                {# //END THIRD #}

                <div class="col-md-3">
                    <a href="{{ clients_url }}">
                        <div class="small-box bg-lightblue shadow-lg">
                            <div class="inner">
                                <h3 id="clients">0</h3>

                                <p>Clientes</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </a>
                </div>
                {# //END FOUR #}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3 " id="lower">
                <div class="small-box bg-danger shadow-lg">
                    <div class="inner">
                        <h3 id="lower-inventory">0</h3>

                        <p>Productos con poco inventario</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-barcode"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    // END CARDS INFORMTION#}

    {#    /////////////////////#}

    {% if request.user.is_superuser %}.
        <div class="container-fluid">

            {# CARD INFOR SALE PRE SALE#}

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <b>Seguimiento</b>
                    </h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col">
                            <div class="input-group mb-3">
                                <select name="idPreSeles" id="selectPreSales" class="form-control">
                                    <option value="">Selecciona el preventa</option>
                                    {% for u in pre_sales %}
                                        <option value="{{ u.id }}">{{ u.username }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button" id="btnSearchPresaleInfo">
                                        <i class="fas fa-search"></i> Buscar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <table class="table table-bordered table-sm" id="tableDash">
                        <thead>
                        <tr id="trow" rel="rowDash">
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            {# END CARD INFO PRE SALE#}

            <div class="row">
                <div class="col-lg-12">
                    <div id="container"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div id="container-pie"></div>
                </div>
            </div>
            <br>
        </div>
        </div>

        {#    PART OF THE CODE FOR THE MODAL INFO FOR THE EPORDUCTS  WITH THE LOWER STOCK#}
        <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-hidden="true">
            {{ csrf }}
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <b><i class="fas fa-search"></i> Detalle</b>
                        </h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-sm" id="tableModal">
                            <thead>
                            <tr id="trow" rel="rowModal">
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a id="btn-sale-products" href="{{ create_url }}" target="_blank"
                           class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="application/javascript">
            var year = new Date;
            let mesActual = new Intl.DateTimeFormat('es-ES', {month: 'long'}).format(year);

            var graphcolumn = Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: `Reporte de ventas del año ${year.getFullYear()}`
                },
                subtitle: {
                    text: 'Reporte de columnas'
                },
                xAxis: {
                    categories: [
                        'Enero',
                        'Febrero',
                        'Marzo',
                        'Abril',
                        'Mayo',
                        'Junio',
                        'Julio',
                        'Agosto',
                        'Septiembre',
                        'Octubre',
                        'Noviembre',
                        'Diciembre'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Valores C$'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
            });
            var graphpie = Highcharts.chart('container-pie', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: `Porcentaje de venta de productos por el mes de ${mesActual} del año ${year.getFullYear()}`
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
            });
            var graph = {
                getSalesYearMonth: function () {
                    $.ajax({
                        url: pathname,
                        data: {
                            'action': 'get_graph_sales_year_month'
                        },
                        type: 'POST',
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (request) {
                            if (!request.hasOwnProperty('error')) {
                                graphcolumn.addSeries(request);
                                return false;
                            }
                            message_error(request.error);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            message_error(errorThrown + ' ' + textStatus);
                        }
                    });
                },
                getSalesProductsYearMonth: function () {
                    $.ajax({
                        url: pathname,
                        data: {
                            'action': 'get_graph_sales_products_year_month'
                        },
                        type: 'POST',
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (request) {
                            if (!request.hasOwnProperty('error')) {
                                graphpie.addSeries(request);
                                return false;
                            }
                            message_error(request.error);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            message_error(errorThrown + ' ' + textStatus);
                        }
                    });
                }
            };

            $(function () {
                graph.getSalesYearMonth();
                graph.getSalesProductsYearMonth();
            });
        </script>
    {% endif %}
    {#    PART OF THE CODE FOR THE MODAL INFO FOR THE EPORDUCTS  WITH THE LOWER STOCK#}
    <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-hidden="true">
        {{ csrf }}
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas fa-search"></i> Detalle</b>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm" id="tableModal">
                        <thead>
                        <tr id="trow" rel="rowModal">
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a id="btn-sale-products" href="{{ create_url }}" target="_blank"
                       class="btn btn-success">Comprar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}