{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load pos_extras %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}"/>
    {% block head_form %}

    {% endblock %}
{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    <b>{{ title }}</b>
                </h3>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {#                    {% for field in form.visible_fields %}#}
                    {#                        <div class="form-group">#}
                    {#                            <label>{{ field.label }}:</label>#}
                    {#                            {% if field|is_checkbox %}#}
                    {#                               <br>{{ field }}#}
                    {#                            {% else %}#}
                    {#                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
                    {#                            {% endif %}#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}

                    {% for field in form.visible_fields %}
                        {% if not field|is_checkbox %}
                            <div class="form-group">
                                <label>{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                            {% if field|is_checkbox %}
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ field.label }}: </label>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);
                submit_with_ajax(pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                    location.href = '{{ list_url }}';
                });
            });
        });
    </script>
{% endblock %}