{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">

    <!-- Preloader -->
    <div id="preloader">

        <span id="title-loading">Cargando...</span>

        <div class="preloaer-container">

            <div class="h1Container">

                <div class="cube h1 w1 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w1 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w1 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w2 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w2 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w2 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w3 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w3 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h1 w3 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>
            </div>

            <div class="h2Container">

                <div class="cube h2 w1 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w1 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w1 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w2 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w2 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w2 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w3 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w3 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h2 w3 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>
            </div>

            <div class="h3Container">

                <div class="cube h3 w1 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w1 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w1 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w2 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w2 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w2 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w3 l1">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w3 l2">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>

                <div class="cube h3 w3 l3">
                    <div class="face top"></div>
                    <div class="face izquierda"></div>
                    <div class="face derecha"></div>
                </div>
            </div>

        </div>
    </div>

    {% block body_2 %}
        <div class="wrapper">

            <!-- Header -->
            {% include 'vtc/header.html' %}
            <!-- Sidebar -->
            {% include 'vtc/sidebar.html' %}
            <!-- Content -->


            <div class="content-wrapper">

                {% block before_content %}

                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ol class="breadcrumb ">
                                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endblock %}
                <div class="content">

                    {% csrf_token %}
                    <div class="container-fluid">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'footer.html' %}
        </div>
        <!-- Block javascript -->
        <script>
            {% if messages %}
                var html = '<p>';
                {% for message in messages %}
                    html += '{{ message }}<br>';
                {% endfor %}
                html += '</p>';
                Swal.fire({
                    title: 'Error!',
                    html: html,
                    icon: 'error'
                });
            {% endif %}
        </script>
    {% endblock %}

    {% block javascript %}

    {% endblock %}

    {% block javascript2 %}

    {% endblock %}


    </body>
{% endblock %}
