{% load static %}
<aside class="main-sidebar sidebar-light-navy elevation-3">
    <a href="{% url 'dashboard' %}" class="brand-link">
        <img src="{% static 'img/BISB-LOGO.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-bold">BisB</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img rounded" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">{{ request.user.get_short_name }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Mantenimientos</li>
                <li class="nav-item">
                    <a href="{% url 'company_update' %}" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Compañia
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Categorías
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'brand_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-award"></i>
                        <p>
                            Marcas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-barcode"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'supplier_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Proveedores
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'shopping_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Compras
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-city"></i>
                        <p>
                            Operaciones
                        </p>
                        <i class="fas fa-angle-left right"></i>

                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'production_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Producción</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'specifications_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Especificaciones</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                        </p>
                        <i class="fas fa-angle-left right"></i>

                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'client_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado de clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'assets_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Activos Comerciales</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="{% url 'sale_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-money-bill-alt"></i>
                        <p>
                            Ventas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Reportes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'access_users_list' %}" class="nav-link">
                        <i class="fas fa-user-clock"></i>
                        <p>
                            Control de Accesos
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
