{% extends 'list2.html' %}
{% load static %}

{% block head_list_extra %}
    {#    Libreria para agregar el touchspin a los inpust al cambiar el status  #}
    <link href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    {# production JS file #}
    <script src="{% static 'production/js/list.js' %}"></script>
{% endblock %}

{% block extra_code %}
    {#    modal para ver el detalle de la porduccion y tambien modificar el status #}
    <div class="modal fade" id="myModalProducts" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle">Detalle de producción</h1>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-valign-middle" id="tblProducts">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Categoria</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnFinallyProduction" style="display: none" class="btn btn-dark">Finalizar proceso
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# Modal para presentar la lista de facturas de matenia prima #}
    <div class="modal fade" id="modalRawMaterials" tabindex="-1" role="dialog" aria-hidden="true">
        {#        <form id="frmProductStatus" enctype="multipart/form-data" method="post">#}
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle">Detalle de materia prima</h1>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-valign-middle" id="tblRowMaterials">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Proveedor</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Sub total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}