{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'load/js/loadcsv.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="">Seleccion de tabla: </label>
                        <select class="form-control" name="select-load" id="selecLoad">
                            <option value="product">Productos</option>
                            <option value="brands">Marcas</option>
                            <option value="category">Gategorias</option>
                            <option value="ajuste">Ajustes</option>
                        </select>
                    </div>

                    <div class="col-3">
                        <label for="check-update">Actualizacion: </label><br>
                        <input type="checkbox" name="check-update" id="check-update">
                    </div>
                    <div class="col-6">
                        <label for="file-csv">Seleciona un archivo: </label>
                        <input type="file" name="file-csv" id="insert_file">
                        <button type="button" class="btn btn-success" id="btn_insert_csv">Insertar</button>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}